<!doctype html>
<html lang="ko">

<head>
  <!-- Required meta tags -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link
      rel="stylesheet"
      href="https://unpkg.com/98.css"
  >
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
  <title>공학인증검사</title>
</head>

<body class="d-flex flex-column min-vh-100"style="background: #008080;">
<!-- 네비게이션바 -->
<nav th:replace="~{layout/navbar :: navbarFragment}"></nav>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<div class="row justify-content-center" style="max-width: 100dvw;font-family: IBM Plex Mono">
  <div class="col-3 text-center" style="font-weight: bold;">
    <div style="margin-top: 100px; margin-bottom: 70px">
      <a href="/api/gonghak/status">
        <img src="/static/images/information.png" style="width: 70px; height: 70px; margin-bottom: 10px">
      </a>
      <p style="color: white">인증정보 확인</p>
    </div>
    <div style="margin-bottom: 70px">
      <a href="/api/excel">
        <img src="/static/images/completed.png" style="width: 70px; height: 70px; margin-bottom: 10px">
      </a>
      <p style="color: white">기이수 과목</p>
    </div>
    <div>
      <a href="/api/user">
        <img src="/static/images/password.png" style="width: 70px; height: 70px; margin-bottom: 10px">
      </a>
      <p style="color: white">내 정보</p>
    </div>
  </div>
  <div class="col-9">
    <th:block layout:fragment="content" class="col-9"></th:block>
  </div>
</div>

<footer th:replace="~{layout/footer}"></footer>
</body>

</html>
