<nav th:fragment="navbarFragment"
     class="navbar navbar-expand navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-family: IBM Plex Mono; font-weight: 500">Gonghak98</a>
    <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
             href="https://elastic-march-a0d.notion.site/gonghak98-8b1448883b524b7aa4af14f19f60e162?pvs=4">
            사용가이드
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="https://docs.google.com/forms/d/e/1FAIpQLSfM38sJnft8zp778OIHx2dkURLLs3pAqbti7vXfzZRrO-HGpQ/viewform">
            피드백하기
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
        </li>
        <li>
          <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
