<html layout:decorate="~{layout/layout2}">
<div layout:fragment="content" class="container my-3">
  <div class="window" style="width: 100%;margin-top: 10%">
    <div class="title-bar">
      <div class="title-bar-text " style="font-size: 30px">
        내 정보
      </div>
      <div class="title-bar-controls" style="margin-right: 10px">
        <button style="margin-right: 20px">
          <img src="/static/images/questionmark.svg" style="height: 40px; width: 40px; padding:10px">
        </button>
        <button>
          <img src="/static/images/x.svg" style="height: 40px; width: 40px; padding:10px">
        </button>
      </div>
    </div>
    <div class="window-body" style="text-align: center">
      <div class="row">
        <div class="col-lg-5 col-md-12" style="margin-top:50px">
          <img src="/static/images/profile.png" class="img-fluid">
        </div>
        <div class="col-lg-7 col-md-12"
             style="font-size: 35px; margin-top: 50px; margin-bottom: 20px">
          <div class="row">
            <p class="col-3">이름 : </p>
            <p class="col-9" th:text="${user.getName()}"></p>
          </div>
          <div class="row" style="margin-bottom: 20px">
            <p class="col-3">학번 : </p>
            <p class="col-9" th:text="${user.getStudentId()}"></p>
          </div>
          <div class="row" style="margin-bottom: 20px">
            <p class="col-3">학과 : </p>
            <p class="col-9" th:text="${user.getMajorsDomain().getMajor()}"></p>
          </div>
          <div class="row">
            <p class="col-3">메일 : </p>
            <p class="col-9" th:text="${user.getEmail()}"></p>
          </div>
        </div>
      </div>
      <div class="row" style="text-align: center; margin-top: 50px">
        <div class="col m-2">
          <button type="button" class="btn-lg" onclick="location.href='/user/change/password'"
                  style="height: 60px; width: 190px; margin-right: 10px;">비밀번호 변경
          </button>
          <button type="button" class="btn-lg" onclick="location.href='/user/withdrawal'"
                  style="height: 60px; width: 190px">회원 탈퇴
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
