<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <form th:action="@{/user/change/password}" th:object="${changePasswordDto}" method="post"
        class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="currentPassword" class="form-label">기존 비밀번호</label>
      <input type="password" id="currentPassword" th:field="*{currentPassword}" class="form-control"
             placeholder="기존 비밀번호를 입력하세요." required>
      <span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"
            class="text-danger"></span>
    </div>

    <div class="mb-3">
      <label for="newPassword1" class="form-label">새로운 비밀번호</label>
      <input type="password" id="newPassword1" th:field="*{newPassword1}" class="form-control"
             placeholder="새로운 비밀번호를 입력하세요." required>
      <span th:if="${#fields.hasErrors('newPassword1')}" th:errors="*{newPassword1}"
            class="text-danger"></span>
    </div>

    <div class="mb-3">
      <label for="newPassword2" class="form-label">새로운 비밀번호 확인</label>
      <input type="password" id="newPassword2" th:field="*{newPassword2}" class="form-control"
             placeholder="새로운 비밀번호를 다시 입력하세요." required>
      <span th:if="${#fields.hasErrors('newPassword2')}" th:errors="*{newPassword2}"
            class="text-danger"></span>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">변경하기</button>
    </div>
  </form>
</div>
</html>
