<!doctype html>
<html lang="ko">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
  <title>공학인증검사</title>
</head>

<body>
<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- Namespace 'layout' is not bound 오류 발생시 -->
<!-- File - Settings - inspections - Unbound namespace prefix 체크해제 -->
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->
</body>

</html>
