<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="container my-3">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">수강년도</th>
      <th scope="col">학기</th>
      <th scope="col">학수번호</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${datas}">
      <td th:text="${data.year}"></td>
      <td th:text="${data.semester}"></td>
      <td th:text="${data.coursesDomain.getCourseId()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</html>