<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="container my-3">
  <form th:action="@{/excel/read}" method="POST" enctype="multipart/form-data"
        onsubmit="return checkFileSize()"
        class="needs-validation" novalidate>
    <!-- 파일 크기 초과 시 에러 메시지 표시 -->
    <div id="fileSizeError" class="text-danger"></div>

    <!-- 에러 메시지가 있으면 표시 -->
    <div th:if="${error}" th:text="${error}" class="text-danger"></div>

    <div class="mb-3">
      <label for="fileInput" class="form-label">기이수 성적 엑셀 파일을 업로드해주세요.</label>
      <input id="fileInput" type="file" th:name="file" class="form-control" required>
      <div class="invalid-feedback">기이수 파일을 등록해주세요.</div>
    </div>

    <button type="submit" class="btn btn-primary">업로드</button>
  </form>

  <!-- jQuery 라이브러리 포함 -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- 파일 크기 확인을 위한 JavaScript -->
  <script src="/js/excel.js"></script>
</div>
</html>
